<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/style.css">

    {% block customCSS %} {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TMA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/registrar-conductor">
                    <i class="bi bi-person-add"></i>
                    Registrar conductor
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lista-de-conductores">
                  <i class="bi bi-list-ul"></i>
                  Lista de conductores
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Extras
                </a>
                <ul class="dropdown-menu">
                  <!--<li><a class="dropdown-item" href="http://192.168.31.155:3000">Registro en tiempo real (Grafana)</a></li>-->
                  <li><a class="dropdown-item" href="http://192.168.31.155:3000" target="_blank">Registro en tiempo real (Grafana)</a></li>

                  <li><a class="dropdown-item" href="#">Graficas de comportamiento (Grafana)</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Estado dispositivos</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">v 0.0.4</a>
              </li>
            </ul>
            {% block search %}

            {% endblock %}
            <!--<form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/socket.io.min.js"></script>
    <script src="../static/js/buscador.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/popper.min.js"></script>

    <div class="container pt-4">
        {% include './includes/messages.html' %}
        {% block body %}
        {% endblock %}
      </div>
</body>
</html>